body {
  background-color: rgb(191, 191, 195);
}

.caixa{
  width: 940px;
}

img {
  width: 5%;
}

#img1 {
  padding-left: 20%;
}

#img2 {
  padding-left:30%;
}

#img3 {
  padding-left: 40%;
}

#img4 {
  padding-left: 50%;
}

p {
  color: black;
  display: inline-block;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
}

#contato {
  padding-left:10px;
  padding-bottom: 30px;
  position: absolute;
}

#gmail {
  padding-left:10px;
  padding-bottom: 30px;
  position: absolute;
}

#github {
  padding-left:10px;
  padding-bottom: 30px;
  position: absolute;
}

#youtube {
  padding-left:10px;
  padding-bottom: 30px;
  position: absolute;
}
