body {
  background-color: rgb(210, 168, 168);
}

.caixa{
  width: 940px;
}

img {
  width: 5%;
}

#img1 {
  padding-left: 25%;
}

#img2 {
  padding-left:30%;
}

#img3 {
  padding-left: 35%;
}

#img4 {
  padding-left: 40%;
}

p {
  color: black;
  display: inline-block;
  font-style: oblique;
}

#contato {
  padding-left:10px;
  padding-bottom: 30px;
  position: absolute;
}

#gmail {
  padding-left:10px;
  padding-bottom: 30px;
  position: absolute;
}

#github {
  padding-left:10px;
  padding-bottom: 30px;
  position: absolute;
}

#youtube {
  padding-left:10px;
  padding-bottom: 30px;
  position: absolute;
}
