body {
    background-color: black;
    color: white;
    font-family:'Times New Roman', Times, serif;
    padding: 1% 0% 1% 0%;
}

div {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

h1{
    font-size: 300%;
    font-family:'Times New Roman', Times, serif;
}

.imagens {
    width: 20%;
}

p {
    text-align: justify;
    padding-right: 30%;
    padding-left: 30%;
}

#autor {
    font-size: 90%;
    font-style: italic;
    text-align: right;
    padding-bottom: 3%;
}

hr {
    color: #FFDEAD;
}

strong {
    color: red;
}

.data {
    text-align: center;
    font-style: italic;
    padding-bottom: 3%;
    font-size: 85%;
}

/* FOOTER */

footer {
    font-style: italic;
}